<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<style type="text/css">
	/*修改文件上传组件的文字内容*/
	.custom-file-control:lang(en):empty::after {
	    content: "请选择文件...";
	}
	.custom-file-control:lang(en)::before {
	    content: "浏览";
	}
</style>
<div class="container mt-3">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					<div class="list-group">
						<a class="list-group-item list list-group-item-action " href="index.php?control=user&action=index">组员基本信息管理</a>
						<a class="list-group-item list list-group-item-action " href="index.php?control=skill&action=index">组员技能信息管理</a>
						<a class="list-group-item list list-group-item-action " href="index.php?control=edu&action=index">组员教育信息管理</a>
						<a class="list-group-item list list-group-item-action " href="index.php?control=exp&action=index">组员经验信息管理</a>
						<a class="list-group-item list list-group-item-action " href="index.php?control=blog&action=index">组员博客文章管理</a>
						
						<a class="list-group-item list list-group-item-action " href="index.php?control=contact&action=index">联系管理</a>
						<a class="list-group-item list list-group-item-action " href="index.php?control=comment&action=index">评论管理</a>
						<a class="list-group-item list list-group-item-action " href="index.php?control=login&action=logout">退出登录</a>
					</div>
				</div>
			</div>		
		</div>
		<div class="col-md-9">
			<ul class="nav nav-tabs">
				<li class="nav-item" >
					<a href="#add" class="nav-link active" data-toggle="tab" >添加成员</a>
				</li>
				<li class="nav-item" >
					<a href="#list" class="nav-link" data-toggle="tab">成员列表</a>
				</li>
				
			</ul>
			
			<div class="card mt-3">
				<div class="card-header">
					组员管理
				</div>
				<div class="card-body">
					<div class="tab-content">
					<!-- tab-pane：单个选项卡，默认是隐藏的 
						active：当前选项卡显示
					-->
						<div class="tab-pane" id="list">
							<div class="card mt-3">
							{foreach $view_data as $key => $value}
								
							
								<div class="card-header">
									成员<span>{$key+1}</span>
								</div>
								<div class="card-body">
									<form>
										<div class="form-group"><!--姓名-->
											<label >姓名</label>
											<div class="card p-1">
												<!-- 何臻荣 -->
												{$value.name}
											</div>										
										</div>
										<div class="form-group"><!--自我介绍-->
											<label >自我介绍</label>
											<div class="card p-1">
												{$value.intro}
												<!-- 本人性格内外结合,适应能力强，为人诚实，有良好的人际交往能力，具备相关的专业知识和认真。细心、耐心的工作态度及良好的职业道德修养。相信团体精神的我对工作认真负责，总希望能把事情做得更好! 性格开朗，对文字语言和数字敏感，对生活充满希望，对工作充满热情! 能在短期间内适应新环境，有强烈的品质意识;对工作认真负责，上进心强! 懂电脑基本操作，熟练小键盘操作! -->
											</div>																			
										</div>
										{$img = json_decode($value.bigimg)}
										<div class="form-group"><!--大图片-->
											<label >插入3张主页大图</label>
											<br />
											<div class="card">
												<img src="{$img[0]}"/>
											</div>
											<br />
											<div class="card">
												<img src="{$img[1]}"/>
											</div>	
											<br />
											<div class="card">
												<img src="{$img[2]}"/>
											</div>										
										</div>
										<div class="form-group"><!--头像-->
											<label >插入头像</label>
											<br />
											<div class="card">
												<img src="{$value.iconimg}"/>
											</div>																					
										</div>
									</form>
								</div>
								{/foreach}
							</div>
							
						</div>
						<!--表单：姓名name、自我介绍introduction、大照片bigPic_one,bigPic_two,bigPic_three、头像smallPic-->
						<div class="tab-pane active" id="add">
							<form action="index.php" method="post" enctype="multipart/form-data">
								<div class="form-group"><!--姓名-->
									<label >姓名</label>
									<input name="name" type="text" class="form-control">											
								</div>
								<div class="form-group"><!--姓名-->
									<label >密码</label>
									<input name="password" type="text" class="form-control">											
								</div>
								<div class="form-group"><!--自我介绍-->
									<label >自我介绍</label>
									<textarea name="intro" class="form-control"></textarea>																				
								</div>
								<div class="form-group"><!--大图片-->
									<label >插入3张主页大图</label>
									<br />
									<label class="custom-file">
										<input type="file" name="bigimg01" class="custom-file-input">
										<span class="custom-file-control"></span>
									</label>	
									<br />
									<label class="custom-file mt-2">
										<input type="file" name="bigimg02" class="custom-file-input">
										<span class="custom-file-control"></span>
									</label>
									<br />
									<label class="custom-file mt-2">
										<input type="file" name="bigimg03" class="custom-file-input">
										<span class="custom-file-control"></span>
									</label>										
								</div>
								<div class="form-group"><!--头像-->
									<label >插入头像</label>
									<br />
									<label class="custom-file">
										<input type="file" name="iconimg" class="custom-file-input">
										<span class="custom-file-control"></span>
									</label>
								</div>
								<div class="form-group">
									<input type="hidden" name="control" value="user">
									<input type="hidden" name="action" value="save">
									<input type="submit" class="btn btn-secondary" value="保存组员信息">											
								</div>
							</form>
						</div>
					</div>						
				</div>
			</div>
			
		</div>
	</div>
</div>

	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>