<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="container mt-3">
			<div class="row">
				<div class="col-md-12">
					<div class="card mt-3 mb-3">
						<div class="card-header">
							医养院数据查看
						</div>
						<div class="card-body">
							<form>
								<div class="form-group">
									<label>医养院编号</label>
									<input value="{$mnhome['id']}" style="background-color: rgba(0,0,0,.02);" type="text" class="form-control" name="mnhome" disabled="true" />
								</div>
								<div class="form-group">
									<label>医养院名称</label>
									<input value="{$mnhome['mnhome_name']}" style="background-color: rgba(0,0,0,.02);" type="text" class="form-control" name="mnhome" disabled="true" />
								</div>
								<div class="form-group">
									<label>工作人员数</label>
									<input type="text" class="form-control" name="" value="{$mnhome['worker_num']}" style="background-color: rgba(0,0,0,.02);" disabled="true" />
								</div>
								<div class="form-group">
									<label>建设费用</label>
									<input type="text" class="form-control" name="" value="{$mnhome['build_cost']}" style="background-color: rgba(0,0,0,.02);" disabled="true" />
								</div>
								<div class="form-group">
									<label>公用车辆数</label>
									<input type="text" class="form-control" name="" value="{$mnhome['car_num']}" style="background-color: rgba(0,0,0,.02);" disabled="true" />
								</div>
								<div class="form-group">
									<label>总床位数</label>
									<input type="text" class="form-control" name="" value="{$mnhome['all_bednum']}" style="background-color: rgba(0,0,0,.02);" disabled="true" />
								</div>
								<div class="form-group">
									<label>可以床位数</label>
									<input type="text" class="form-control" name="" value="{$mnhome['available_bednum']}" style="background-color: rgba(0,0,0,.02);" disabled="true" />
								</div>
								<div class="form-group">
									<label>绿化面积</label>
									<input type="text" class="form-control" name="" value="{$mnhome['green_area']}" style="background-color: rgba(0,0,0,.02);" disabled="true" />
								</div>
								<div class="form-group">
									<label>修改时间</label>
									<input type="text" class="form-control" name="" value="{$mnhome['edit_time']}" style="background-color: rgba(0,0,0,.02);" disabled="true" />
								</div>
								<!--<div class="form-group">
									<label></label>
									<input type="text" class="form-control" name="" value="" style="background-color: rgba(0,0,0,.02);" disabled="true" />
								</div>-->
			                    <!--<div class="form-group">
			                        <label >概要1</label>                        
			                        <textarea  id="text_content" name="described_word"  style="width:100%;background-color: #fff;    border: 1px solid rgba(0,0,0,.03);" value="" disabled="true">111111111</textarea>
			                    </div>-->
			                    
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
