<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<title>老人数据修改</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12 mt-3">
					<div class="card mt-3">
						<div class="card-header">
							老人数据修改
						</div>
						<div class="card-body">
							<table class="table">
						        <tr>
						            <th>老人编号</th>
						            <th>姓名</th>
						            <th>性别</th>
						            <th>联系电话</th>
						            <th>提交时间</th>
						            <th>操作</th>
						        </tr>
						        
						        <tr>
						            <td>1</td>
						            <td>何臻荣</td>
						            <td>男</td>
						            <td>15521234233</td>
						            <td>2018年5月13号14:30</td>
						            <td>
						                <a href="{:url('oldman_detailed')}" class="btn btn-info">详细</a>
						                <a href="{:url('oldman_edit_detailed')}" class="btn btn-warning">修改</a>
						                <a href="" class="btn btn-danger">删除</a>
						            </td>
						        </tr>
						        <tr>
						            <td>1111</td>
						            <td>何臻荣</td>
						            <td>男</td>
						            <td>0759-5182278</td>
						            <td>2018年5月13号14:30</td>
						            <td>
						                <a href="{:url('oldman_detailed')}" class="btn btn-info">详细</a>
						                <a href="{:url('oldman_edit_detailed')}" class="btn btn-warning">修改</a>
						                <a href="" class="btn btn-danger">删除</a>
						            </td>
						        </tr>
						        <tr>
						            <td>1</td>
						            <td>何臻荣</td>
						            <td>男</td>
						            <td>15521234233</td>
						            <td>2018年5月13号14:30</td>
						            <td>
						                <a href="{:url('oldman_detailed')}" class="btn btn-info">详细</a>
						                <a href="{:url('oldman_edit_detailed')}" class="btn btn-warning">修改</a>
						                <a href="" class="btn btn-danger">删除</a>
						            </td>
						        </tr>
						        <tr>
						            <td>1</td>
						            <td>何臻荣</td>
						            <td>男</td>
						            <td>15521234233</td>
						            <td>2018年5月13号14:30</td>
						            <td>
						                <a href="{:url('oldman_detailed')}" class="btn btn-info">详细</a>
						                <a href="{:url('oldman_edit_detailed')}" class="btn btn-warning">修改</a>
						                <a href="" class="btn btn-danger">删除</a>
						            </td>
						        </tr>
						        
						    </table>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	    
	</body>
</html>
