<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<title>志愿者详细数据</title>
	</head>
	<body>
		<div class="container mt-3">
			<div class="row">
				<div class="col-md-12">
					<div class="card mt-3 mb-3">
						<div class="card-header">
							<!--详细资料-->
							<div class="goback">
								<a href="{:url('volunteer_look')}" class="btn btn-info"><<返回查看</a>
								<a href="{:url('volunteer_edit')}" class="btn btn-warning">返回修改>></a>
							</div>
						</div>
						<div class="card-body">
							<form>
								<div class="form-group">
									<label>志愿者编号</label>
									<input type="text" class="form-control" name="mnhome" value="1"  style="background-color: rgba(0,0,0,.00);" />
								</div>
								<div class="form-group">
									<label>姓名</label>
									<input type="text" class="form-control" name="" value="何臻荣" style="background-color: rgba(0,0,0,.00);"  />
								</div>
								<div class="form-group">
									<label>出生年份</label>
									<input type="text" class="form-control" name="" value="1994" style="background-color: rgba(0,0,0,.00);"  />
								</div>
								<div class="form-group">
									<label>年龄</label>
									<input type="text" class="form-control" name="" value="24" style="background-color: rgba(0,0,0,.00);"  />
								</div>
								<div class="form-group">
									<label>性别</label>
									<input type="text" class="form-control" name="" value="男" style="background-color: rgba(0,0,0,.00);"  />
								</div>
								<div class="form-group">
									<label>联系电话</label>
									<input type="text" class="form-control" name="" value="15521234233" style="background-color: rgba(0,0,0,.00);"  />
								</div>
								<div class="form-group">
									<label>学历</label>
									<input type="text" class="form-control" name="" value="本科" style="background-color: rgba(0,0,0,.00);"  />
								</div>
								<div class="form-group">
			                        <label >服务情况</label>                        
			                        <textarea class="form-control"  id="text_content" name=""  style="background-color: rgba(0,0,0,.00);" value="" >2017年暑假活动，2018年过年活动</textarea>
			                    </div>
			                    <input type="submit" name="" id="" value="提交修改" class="btn btn-success" />
							</form>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>